/*===== SCSS VARIABLES ======*/
/*===== GLOBAL =====*/
html {
  padding: env(safe-area-inset);
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

h2 {
  text-align: center;
}

.heading-underline {
  width: 5rem;
  height: 0.25rem;
  background-color: black;
  margin: 1rem auto 5rem auto;
}

.sub-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  margin: 1rem auto 2rem auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 10%;
  opacity: 0.6;
}

#myBtn:hover {
  background-color: darkred;
}

.arrow {
  text-align: center;
}

.fab {
  cursor: pointer;
}

.fab:hover {
  color: darkgrey;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

/*===== NAV =====*/
.nav-logo {
  width: 200px;
}

/*===== HOME PAGE ======*/
#home {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 100px;
}

.header-one {
  background-color: transparent;
  color: #666666;
}

.header-one h2 {
  font-size: 1.75rem;
  font-weight: 300;
  padding: 10px;
}

.phone-head {
  width: 85%;
  margin: auto;
  padding-top: 100px;
}

.header-two {
  display: none;
}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  -webkit-transition: opacity ease-out 1.7s;
  transition: opacity ease-out 1.7s;
  left: 0;
  top: 0;
  position: absolute;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.carousel.carousel-fade .carousel-item:first-child {
  top: auto;
  position: relative;
  -webkit-transition: opacity ease-out 1.7s;
  transition: opacity ease-out 1.7s;
}

.carousel.carousel-fade .carousel-item:second-child {
  top: auto;
  position: relative;
  -webkit-transition: opacity ease-out 1.7s;
  transition: opacity ease-out 1.7s;
}

/*===== PORTFOLIO ======*/
#portfolio {
  display: block;
  padding: 100px 0 100px 0;
  min-height: 100vh;
  background-color: ghostwhite;
}

.bg-panel {
  background-color: white;
  border-radius: 10px;
}

.soc {
  font-size: 1.75rem;
  color: brown;
}

.soc-2 {
  font-size: 1.75rem;
  color: black;
}

.hr-line {
  border-top: 3px solid black;
  margin: 15px 0;
}

.ret-btn {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  border: 2px solid black;
  margin-left: 20px;
}

.whl-btn:hover,
.ret-btn:hover {
  background-color: darkgray !important;
  color: black;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.whl-btn {
  position: relative;
  overflow: hidden;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-left: 20px;
}

/*===== ABOUT ======*/
#about {
  min-height: 100vh;
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: ghostwhite;
}

.hr-about {
  border-top: 1px solid black;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.map {
  width: 85%;
  margin: auto;
}

.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*===== BRANDS =====*/
/*===== NEWS =======*/
/*===== CAREERS ======*/
#careers {
  width: 100%;
  background-color: snow;
  padding: 100px 0 100px 0;
}

.img-hide {
  display: none;
}

/*===== CONTACT =====*/
#contact {
  background-color: black;
  color: white;
  margin: 5px 0 0 0;
  padding: 50px 0 60px 0;
}

#contact h2 {
  padding-top: 10px;
  font-size: 2.75rem;
  font-weight: normal;
}

#contact h4 {
  padding-bottom: 25px;
  font-weight: 400;
}

#contact .heading-underline {
  width: 5rem;
  height: 0.1rem;
  background-color: white;
  margin: 1rem auto;
}

/*===== FOOTER =====*/
footer {
  margin-top: 0;
  background-color: black;
  color: ghostwhite;
}

/*===== MEDIA QUERIES====*/
/*---Small (sm) devices (landscape phones, 576px and up)----*/
/*----Medium (md) devices (tablets, 768px and up)----*/
@media (min-width: 768px) {
  .header-two {
    display: none;
  }
  .logo {
    width: 80%;
    margin: auto;
  }
}

/*---Large (lg) devices (desktops, 992px and up)---*/
@media (min-width: 992px) {
  .header-one {
    display: none;
  }
  .header-two {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 66px;
  }
  .title {
    font-size: 3rem;
    text-align: center;
  }
  .carousel {
    -webkit-transition-duration: 0.8s ease;
    transition-duration: 0.8s ease;
  }
  /** nav **/
  .navbar {
    padding: 2px 25px;
  }
  .nav-logo {
    width: 275px;
    padding: 0 5px;
  }
  .navbar-nav .nav-link:hover {
    color: black;
  }
  .nav-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: black;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform 650ms;
    transition: -webkit-transform 650ms;
    transition: transform 650ms;
    transition: transform 650ms, -webkit-transform 650ms;
  }
  .nav-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  /*-- home --*/
  .head-hide {
    display: none;
  }
  .pad-xy {
    padding: 3px 3px;
  }
  .arrow {
    text-align: center;
    padding-top: 2.5rem;
  }
  .hr-line {
    margin: 70px 0;
  }
  #myBtn {
    bottom: 20px;
    right: 20px;
    opacity: 1;
  }
  .btm-row .col {
    padding-bottom: 0;
  }
  /*-- portfolio --*/
  .img-cov {
    width: 100%;
  }
  /*-- about --*/
  .location {
    border-left: 2px solid black;
  }
  #about p {
    text-align: center;
  }
  /*-- careers --*/
  .img-hide {
    display: block;
  }
  /*-- contact --*/
  #contact {
    background-color: black;
    padding: 5px 0 5px 0;
  }
  #contact h4 {
    padding-bottom: 75px;
    font-weight: 300;
  }
}

/*---Extra (xl) large devices (large desktops, 1200px and up)----*/
/*# sourceMappingURL=styles.css.map */
